/*Changed background images like four times, trying to get the one that sooths*/
body{
    margin: 0;
    padding: 0;  
    background-image: url("../Images/Bk.jpg"), url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat repeat;
    box-sizing: border-box;
    
}
header{
    background-image: url("../Images/Bk.jpg"), url("../Images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.Menu ul{
    position: relative;
    display: flex;
}
.Menu ul li{
    list-style: none;
    display: inline-block;
}
.Menu ul li a{
    display: inline-block;
    color: white;
    margin-left: 130px;
    line-height: 24px;
    font-weight: 800;
    text-decoration: none;
    transition: .3s;
}
.Menu a.active{
    color: red;
}
.Menu ul li a:hover{
    color: red;
}

.main h1{
    color: white;
    font-size: 70px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    margin-bottom: 10px;
}
.cover img{
    float: right;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border-style:groove;
    border-bottom: 4px solid rgb(255, 255, 255);
    z-index: 1;
    position: relative;
}

span{
    color: orangered;
    text-decoration: overline;
    text-shadow: white;
}
span :hover{
    color: white;
}
 .main p{
    color: white;
    font-size: 22px;
    font-weight: 200;
    padding-left: 500px;
}
.social-links{
    margin-top: 50px;
    margin-left: 690px;
}
.social-links a{
    height: 90px;
    width: 90px;
    margin: 0 20px;
    text-decoration: none;
    color: rgba(255, 210, 253);
    border-radius: 50%;
    font-size: 40px;
}
/*Styling the About section differently*/

#About{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    height: 100vh;
 
    padding: 70px 20px;
    margin: auto;
}
#About p{
    color: white;
    font-size: 22px;
    font-weight: 200;
    padding-left: 500px;
}
#About img{
    float: left;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border-style:inset;
    border-bottom: 4px solid rgb(255, 255, 255);
}
h2{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}
:after,
:before{
    background-color: rgb(0, 0, 0);
    height: ;
    content: "";
}

/*Here is my styling for the Projects section*/

#Projects{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
}
.Title-text h2{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: rgb(11, 92, 63);
    text-decoration: wavy;
    
}
.Project_row{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
   
}
.Project_column{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}
.Project_column img{
    width: 100%;
    border-radius: 7px;
    filter: brightness(0.40);

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #009688);
    opacity: 0;
    transition: 1s;
}
.Project_column:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    opacity: 0;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 18px;
}
.Project_column:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/*Here is my styling for the Skill set section*/
#skill{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    color: white;
}

/*styling for my contact us*/
#contact{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    color: white;
}
.container{
    width: 30%;
    margin: 10px auto;
}
.contact-box{
    background: #fff;
    display: flex;
    color: black;
    width: 80%;
    margin: 20px auto;
}
.contact-left{
    flex-basis: 70%;
    padding: 10px 70px;
}
.contact-right{
    flex-basis: 40%;
    padding: 10%;
    background: #150d3d;
    color: white;
}
.container h4{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #472bd5;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 8px;
}
textarea{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    width: 100px;
    background: #1c00b5;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h5{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 24px;
}
.contact-right h5{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 24px;
}
tr td :first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}







/*Here is my styling for the footer section*/
footer{
    background: #111;
}
#footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: rgb(177, 99, 99);
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a i:hover{
    color: red;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
         flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}