/*Changed background images like four times, trying to get the one that sooths*/
body{
    margin: 0;
    padding: 0;  
    background-image: url("../Images/Bk.jpg"), url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat repeat;
    
}
header{
    background-image: url("../Images/Bk.jpg"), url("../Images/background.jpg");
    width: 100%;
    height: 100vh;
    min-height: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

section:nth-child(odd) {
    background: rgb(127, 127, 127);
}
.Menu ul{
    position: relative;
    display: flex;
}
.Menu ul li{
    list-style: none;
    display: inline-block;
}
.Menu ul li a{
    display: inline-block;
    color: white;
    margin-left: 130px;
    line-height: 24px;
    font-weight: 800;
    text-decoration: none;
    transition: .3s;
}
.Menu a.active{
    color: red;
}
.Menu ul li a:hover{
    color: red;
}

.main h1{
    color: white;
    font-size: 70px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    margin-bottom: 10px;
}
.cover img{
    float: right;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border-style:groove;
    border-bottom: 4px solid rgb(255, 255, 255);
    z-index: 1;
    position: relative;
}

span{
    color: orangered;
    text-decoration: overline;
    text-shadow: white;
}
span :hover{
    color: white;
}
 .main p{
    color: white;
    font-size: 22px;
    font-weight: 200;
    padding-left: 500px;
}
.social-links{
    margin-top: 50px;
    margin-left: 690px;
}
.social-links a{
    height: 90px;
    width: 90px;
    margin: 0 20px;
    text-decoration: none;
    color: rgba(255, 210, 253);
    border-radius: 50%;
    font-size: 40px;
}
/*Styling the About section differently*/

#About{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    padding: 70px 0;
}
#About p{
    color: white;
    font-size: 22px;
    font-weight: 200;
    padding-left: 500px;
}
#About img{
    float: left;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border-style:inset;
    border-bottom: 4px solid rgb(255, 255, 255);
}
h2{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}
:after,
:before{
    background-color: rgb(0, 0, 0);
    height: ;
    content: "";
}

/*Here is my styling for the Projects section*/

#Projects{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/About.me.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
}
.Title-text h2{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: rgb(11, 92, 63);
    text-decoration: wavy;
    
}
.Project_row{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
   
}
.Project_column{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}
.Project_column img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #009688);
    opacity: 0;
    transition: 1s;
}
.Project_column:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    opacity: 0;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 18px;
}
.Project_column:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/*Here is my styling for the Skill set section*/










/*Here is my styling for the footer section*/
footer{
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.footer-link{
    margin-bottom: 40px;
}
.footer-link ul{
    position: relative;
    display: flex;
}
.footer-link ul li{

}
.footer-link ul li a{
    color: white;
}














@media screen and (min-width: 600px) {
    
}